@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}

li{
	list-style: none;
}

body{
	background-color: #f3f5f7;
}
